@font-face {
    font-family: "Norse-Bold";
    src: url(./fonts/Norse-Bold.otf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.left{
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    flex-shrink: 1;
    width: 500px;
    position: relative;
}
.right{
    height: 100vh;
    background-color: #F9FAFB;
    height: 100vh;
    flex-shrink: 2;
}

.header{
    padding: 50px 30px 20px 50px;
    background: #F9FAFB;
    font-weight: 600;
}
.header p:first-child{
    margin: 20px 0 30px 0;
}
.form-section{
    padding: 30px 50px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}
h2{
    margin: 10px 0;
}
.form-control{
    display: inline-block;
    width:49%;
    margin: 10px 0;
}
input{
    width: 230px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: block;
}
input:focus{
    border: 2px solid #919df1;
    outline: 0;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
label{
    text-transform: uppercase;
    font-size: 0.8rem;
}
.footer{
    padding-left: 50px;
    font-family: monospace;
}
button{
    margin: 25px 0;
    padding: 10px 40px;
    background-color: #596D48;
    color: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.footer a{
    text-decoration: none;
    color: #596D48;
}
img{
    width: 75px;
    vertical-align: middle;
}
.logo{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:25%;
    width: 100%;
    padding: 10px;
    text-align: center;
}
#nn{
    font-family: "Norse-Bold";
    font-size: 5rem;
    text-transform: uppercase;
    vertical-align: bottom;
    color: #fff;
}
/* input[type="password"]:required{
    border: 1px solid red;
} */